*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif; 
}
h1,h2,h3{
    font-family: 'Poppins',sans-serif;
}
.cabecalho{
    width: 100%;
    height: 80px;
    background-color:#4B3E7C ;
    padding-left: 50px;
    padding-right: 50px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecalho section{
    display: flex;
    align-items: center;
}
.cabecalho .logotipo{
    margin-right: 40px;
}
.cabecalho nav{
    display: flex;
    align-items: center;
}

.cabecalho a{
    color: white;
    text-decoration: none;
}
.cabecalho nav a:link{
    color: white;
    font-size: 20px;
    margin-right: 10px;
}
.cabecalho nav a:visited{
    color: white;
    font-size: 20px;
}
.cabecalho nav a:hover{
    color: #9A81F9;
}
.cabecalho .pesquisar a i{
    font-size: 30px;
    color: #D33E8A;
    margin-left: 20px;
}
.cabecalho .login a i{
    font-size: 45px;
}

/* BANNER INSCRICÃO */
.banner-inscricao{
    width: 100%;
    height: 350px;
    background: url(../img/banner-sobrenatural.jpg);
    background-size: cover;
    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}
.banner-inscricao h1,.banner-inscricao h2{
    color:white
}

.banner-inscricao h1{
    text-transform: uppercase;
    font-size: 35px;
}
.banner-inscricao h2{
    font-size: 30px;
}
.banner-inscricao .botao-inscricao:any-link{
    color: white;
    text-transform: uppercase;
    display: block;
    background-color:#4B3E7C;
    width: 150px;
    text-align: center;
    padding: 15px;
   /* box-shadow: 2px 2px 2px #333333;*/
    margin-top: 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.banner-inscricao .botao-inscricao:hover{
    background-color: #D33E8A;
}
.banner-destaque{
    width: 100%;
    height: 700px;
    background: url(../img/banner-convencao-das-bruxas.jpg);
    background-size: cover;
    padding: 50px;
}
.banner-destaque .cartao{
    width: 500px;
    background-color: #323232;
    color: white;
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;
    filter: opacity(0.8);
}
.banner-destaque .cartao h2{
    margin-bottom: 15px;
    font-weight: 400;
}
.banner-destaque .classificacao{
    padding: 7px;
    background-color: #00CDFF;
    border-radius: 3px;
}

/** RODAPÉ **/

.rodape {
    width: 100%;
    height: 300px;
    background-color: #1D1733;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rodape h2 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: Poppins, sans-serif;
}

.rodape nav {
    display: flex;
    flex-direction: column;
}

.rodape nav a:link, .rodape nav a:visited {
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 20PX;
}

.rodape nav a:hover {
    color: #D33E8A;
}

.rodape .botao-inscrever:link, .rodape .botao-inscrever:visited {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: #D33E8A;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    font-weight: bold;
}

.rodape .botao-inscrever:hover {
    background-color: #9A81F9;
}